{%- extends "layout.html" -%}
{%- block title %}{{post.title}}{% endblock %}

{%- block document %}
<div class="hentry">
  <h1 class="entry-title">{{post.title}}</h1>
  {%- if post.description %}
  <blockquote class="entry-description">{{post.description}}</blockquote>
  {%- endif %}
  <div class="entry-content">{{post.html}}</div>
</div>
{% if config.duoshuo %}
<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"{{config.duoshuo}}"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
{% endif %}
{% endblock -%}
